<mat-toolbar>
  <button
    id="loginBtn"
    mat-raised-button
    color="primary"
    type="button"
    (click)="login()"
  >
    Login
  </button>
</mat-toolbar>
<div class="header">International Education Program Veleri-OI IoT School</div>
<div class="subheader">Case study of the IoT project "Cov protect System</div>
<div style="height:50px"></div>
<div *ngIf="meteoStations$ | async as meteoStations" class="map-container">
  <agm-map
    [latitude]="meteoStations[0].geoLocation.latitude"
    [longitude]="meteoStations[0].geoLocation.longitude"
    (mapReady)="mapReadyHandler($event)"
    >
  >
    <agm-marker
      *ngFor="let station of meteoStations"
      [latitude]="station.geoLocation.latitude"
      [longitude]="station.geoLocation.longitude"
      (markerClick)="onClickStation(station)"

    ></agm-marker>
   <!--  <agm-marker [latitude]="dragLatitude" [longitude]="dragLongitude" [markerDraggable]="true"
    (dragEnd)="markerDragEnd($event)"></agm-marker> -->
  </agm-map>
</div>
