
  <h1>Sensor type</h1>
  <form

    [formGroup]="sensorTypeForm"
    class="flex-column"

  >
    <mat-form-field>
      <mat-label>Type</mat-label>
      <input
        type="text"
        matInput
        formControlName="type"
        placeholder="Type"
      />
      <mat-error *ngIf="sensorTypeForm.controls.type.hasError('required')">
        Please enter sensor type
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Unit</mat-label>
      <input
        type="text"
        matInput
        formControlName="unit"
        placeholder="Unit od measure"
      />
      <mat-error *ngIf="sensorTypeForm.controls.unit.hasError('required')">
        Please enter sensor unit of measure
      </mat-error>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>Image url</mat-label>
      <input
        type="text"
        matInput
        formControlName="imageUrl"
        placeholder="Image URL"
      />
      <mat-error *ngIf="meteoStationForm.controls.imageUrl.hasError('required')">
        Please enter imageUrl
      </mat-error>
    </mat-form-field> -->
    <!-- <mat-form-field>
      <mat-label>Latitude</mat-label>
      <input
        type="number"
        matInput
        formControlName="latitude"
        placeholder="Latitude"
      />
      <mat-error *ngIf="meteoStationForm.controls.latitude.hasError('required')">
        Please enter your latitude
      </mat-error>
    </mat-form-field> -->
    <!-- <mat-form-field>
      <mat-label>Longitude</mat-label>
      <input
        type="number"
        matInput
        formControlName="longitude"
        placeholder="Longitude"
      />
      <mat-error *ngIf="meteoStationForm.controls.longitude.hasError('required')">
        Please enter your longitude
      </mat-error>
    </mat-form-field> -->


    <button
      *ngIf="data"
      mat-raised-button
      (click)="updateSensorType()"
      color="primary"
      [disabled]="loading"
    >
      Update senor type
    </button>
    <button
      *ngIf="!data"
      mat-raised-button
      (click)="newSensorType()"
      color="primary"
      [disabled]="loading"
    >
      Create new sensor type
    </button>
  </form>
