
  <h1>Sensor type</h1>
  <form

    [formGroup]="sensorTypeForm"
    class="flex-column"

  >
    <mat-form-field>
      <mat-label>Type</mat-label>
      <input
        type="text"
        matInput
        formControlName="type"
        placeholder="Type"
      />
      <mat-error *ngIf="sensorTypeForm.controls.type.hasError('required')">
        Please enter sensor type
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Unit</mat-label>
      <input
        type="text"
        matInput
        formControlName="unit"
        placeholder="Unit od measure"
      />
      <mat-error *ngIf="sensorTypeForm.controls.unit.hasError('required')">
        Please enter sensor unit of measure
      </mat-error>
    </mat-form-field>


    <button
      id="updateBtn"
      *ngIf="data"
      mat-raised-button
      (click)="updateSensorType()"
      color="primary"
      [disabled]="sensorTypeForm.invalid || loading"
    >
      Update sensor type
    </button>
    <button
      id="createNewBtn"
      *ngIf="!data"
      mat-raised-button
      (click)="newSensorType()"
      color="primary"
      [disabled]="sensorTypeForm.invalid || loading"
    >
      Create new sensor type
    </button>
  </form>
