<h1>Sensor</h1>
<form [formGroup]="sensorForm" class="flex-column">
  <mat-form-field>
    <mat-label>Lower Limit</mat-label>
    <input
      type="number"
      matInput
      formControlName="lowerLimit"
      placeholder="lowerLimit"
    />
    <mat-error *ngIf="sensorForm.controls.lowerLimit.hasError('required')">
      Please enter lower limit
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Upper limit</mat-label>
    <input
      type="number"
      matInput
      formControlName="upperLimit"
      placeholder="upperLimit"
    />
    <mat-error *ngIf="sensorForm.controls.upperLimit.hasError('required')">
      Please enter upper limit
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input
      type="text"
      matInput
      formControlName="description"
      placeholder="description"
    />
    <mat-error *ngIf="sensorForm.controls.description.hasError('required')">
      Please enter description
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Station</mat-label>
    <mat-select formControlName="stationId">
      <mat-option
        *ngFor="let station of meteoStations$ | async"
        [value]="station.id"
      >
        {{ station.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sensor type</mat-label>
    <mat-select formControlName="sensorTypeId">
      <mat-option
        *ngFor="let sensorType of sensorTypes$ | async"
        [value]="sensorType.id"
      >
        {{ sensorType.type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    *ngIf="!data || data.newSensorStationId; else updateSensorBtn"
    mat-raised-button
    (click)="newSensor()"
    color="primary"
    [disabled]="sensorForm.invalid || loading"
    id="createNewBtn"
  >
    Create new sensor
  </button>
  <ng-template #updateSensorBtn>
  <button
    *ngIf="data"
    mat-raised-button
    (click)="updateSensor()"
    color="primary"
    [disabled]="sensorForm.invalid || loading"
    id="updateBtn"
  >
    Update sensor
  </button>
</ng-template>


</form>

