
<ng-container *ngIf="sensors$ | async as sensors">
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let sensor of sensors">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ sensor.description }}
        </mat-panel-title>
        <mat-panel-description *ngIf="readings$ | async as read">
          <span style="margin-left: auto"
            >{{
              (read | getLatestReadingForSensor: sensor.id)?.value
                | number: "1.2-2"
            }}
          </span>
          {{
            (sensor.sensorTypeId | getSensorType: (sensorTypes$ | async))?.unit
          }}
          <span style="margin-left: 20px">
            {{
              (
                read | getLatestReadingForSensor: sensor.id
              )?.timeStamp?.toMillis() | date: "dd/MM/yyyy H:mm:ss"
            }}
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="flex-row">
        <div style="margin-left: auto">
          <button
            id="newBtn"
            style="margin-right: 20px; margin-top: 5px; margin-bottom: 5px"
            (click)="onNew(sensor.id)"
            color="accent"
            mat-mini-fab
            matTooltip="Add new reading"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <app-readings-list
        [readings$]="readings$"
        [sensorId]="sensor.id"
      ></app-readings-list>
    </mat-expansion-panel>
  </mat-accordion>
  <h1 *ngIf="sensors.length===0"> No sensors on meteo station. Add a sensor.</h1>
</ng-container>

