<mat-card style="margin: 20px">
  <mat-label>Sensor types</mat-label>
  <mat-chip-list>
    <mat-chip id="newType" color="accent" selected (click)="onNew()"
      ><mat-icon>add</mat-icon></mat-chip
    >
    <ng-container *ngIf="sensorTypes$ | async as sensorTypes">
      <mat-chip
        *ngFor="let sensorType of sensorTypes"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="onRemove(sensorType)"
        (click)="editSensorType(sensorType)"
      >
    <span>{{ sensorType.type }}</span>
        <mat-icon id="{{sensorType.type}}" matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </ng-container>
  </mat-chip-list>
</mat-card>
