<table mat-table [dataSource]="dataSource" >
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef >Description</th>
    <td mat-cell *matCellDef="let sensor">
      {{ sensor.description }}
    </td>
  </ng-container>
  <ng-container matColumnDef="lowerLimit">
    <th mat-header-cell *matHeaderCellDef >Lower limit</th>
    <td mat-cell *matCellDef="let sensor">{{ sensor.lowerLimit }}</td>
  </ng-container>

  <ng-container matColumnDef="upperLimit">
    <th mat-header-cell *matHeaderCellDef >Upper limit</th>
    <td mat-cell *matCellDef="let sensor">
      {{ sensor.upperLimit }}
    </td>
  </ng-container>

  <ng-container matColumnDef="sensorTypeId">
    <th mat-header-cell *matHeaderCellDef >Sensor type</th>
    <td mat-cell *matCellDef="let sensor">
      {{ (sensor?.sensorTypeId | getSensorType: (sensorTypes$ | async))?.type }}
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef >Sensor id</th>
    <td mat-cell *matCellDef="let sensor">
      {{ sensor.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="review">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let sensor" style="text-align: end">
      <button id="{{(sensor?.sensorTypeId | getSensorType: (sensorTypes$ | async))?.type}}-edit" mat-button color="primary" (click)="viewSensorDetails(sensor)">
        <mat-icon>edit</mat-icon>
      </button>
      <button id="{{(sensor?.sensorTypeId | getSensorType: (sensorTypes$ | async))?.type}}-delete" mat-button color="warn" (click)="deleteSensor(sensor)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
