<div
  *ngIf="userAuthenticated | async as user; else spacer"
  class="flex-row flex-center spacer"
>
  <mat-button-toggle-group [(ngModel)]="viewType">
    <mat-button-toggle value="view"><span>Overview</span></mat-button-toggle>
    <mat-button-toggle value="edit"><span>Edit</span></mat-button-toggle>
    <mat-button-toggle value="sensors"><span>Sensors</span></mat-button-toggle>
    <mat-button-toggle value="readings"><span>Readings</span></mat-button-toggle>
  </mat-button-toggle-group>
</div>
<ng-template #spacer>
  <div id="spacer" class="spacer"></div>
</ng-template>

<ng-container *ngIf="viewType === 'view'">
  <app-station-overview id="overview" [data]="data"></app-station-overview>
</ng-container>
<ng-container *ngIf="viewType === 'edit'">
  <app-edit-meteo-station-modal id="edit"></app-edit-meteo-station-modal>
</ng-container>
<ng-container *ngIf="viewType === 'readings'">
  <app-station-readings id="readings" [stationId]="data.id"></app-station-readings>
</ng-container>

<ng-container *ngIf="viewType === 'sensors'">
  <app-sensors id="sensors" [stationId]="data.id"></app-sensors>
</ng-container>
