<h1>Meteo station</h1>
<form [formGroup]="meteoStationForm" class="flex-column">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name" placeholder="Name" />
    <mat-error *ngIf="meteoStationForm.controls.name.hasError('required')">
      Please enter station name
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input
      type="text"
      matInput
      formControlName="description"
      placeholder="Station description"
    />
    <mat-error
      *ngIf="meteoStationForm.controls.description.hasError('required')"
    >
      Please enter station description
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Image url</mat-label>
    <input
      type="text"
      matInput
      formControlName="imageUrl"
      placeholder="Image URL"
    />
    <mat-error *ngIf="meteoStationForm.controls.imageUrl.hasError('required')">
      Please enter imageUrl
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Latitude</mat-label>
    <input
      type="number"
      matInput
      formControlName="latitude"
      placeholder="Latitude"
    />
    <mat-error *ngIf="meteoStationForm.controls.latitude.hasError('required')">
      Please enter your latitude
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Longitude</mat-label>
    <input
      type="number"
      matInput
      formControlName="longitude"
      placeholder="Longitude"
    />
    <mat-error *ngIf="meteoStationForm.controls.longitude.hasError('required')">
      Please enter your longitude
    </mat-error>
  </mat-form-field>

</form>
<div class="flex-row" style="justify-content: space-between">
  <button
    *ngIf="data?.id"
    mat-raised-button
    (click)="updateStation()"
    color="primary"
    [disabled]="loading"
  >
    Update meteo station
  </button>
  <button
    *ngIf="!data?.id"
    mat-raised-button
    (click)="newStation()"
    color="primary"
    [disabled]="loading"
  >
    Create new meteo station
  </button>
  <button
    *ngIf="data?.id"
    mat-button
    (click)="onDelete(this.data)"
    color="warn"
  >
    <mat-icon mat-button>delete</mat-icon>
  </button>
</div>
<!-- <mat-dialog-actions align="end">
   <button
   *ngIf="data?.id"
   mat-raised-button
   (click)="updateStation()"
   color="primary"
   [disabled]="loading"
 >
   Update meteo station
 </button>
 <button
   *ngIf="!data?.id"
   mat-raised-button
   (click)="newStation()"
   color="primary"
   [disabled]="loading"
 >
   Create new meteo station
 </button>
 <button
   *ngIf="data?.id"
   mat-button
   (click)="onDelete(this.data)"
   color="warn"
 >
   <mat-icon mat-button>delete</mat-icon>
 </button>

 </mat-dialog-actions> -->

<!--   <div>
    <button mat-raised-button (click)="onSignUp()" color="primary">
      Log in
    </button>
  </div> -->

<!-- <mat-card style="margin: 20px">
  <mat-card-header>
    <mat-card-title style="margin: 30px">User orders</mat-card-title>
  </mat-card-header>
  <app-orders-list [orders$]="userOrders$"></app-orders-list>
</mat-card> -->
