.example-card {
  width:40%;
  // height: 100%
}

/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */

.card-image {
  height: 200px; width: 200px;
  border-radius: 100%;
}


.card-row {
  justify-content: space-around;  height:40%
}


.datetime {
  font-size: xx-small
}



.value {
  font-size: x-large
}
