.example-card {
  width:40%;
  height: 100%
}

/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */

.card-image {
  height: 50px; width: 50px
}


.card-row {
  justify-content: space-around;  height:40%
}
